.print-management-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 624px;
  padding: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-container {
  margin-bottom: 24px;
}

.dialog-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #1c2024;
  margin-bottom: 8px;
}

.printer-form {
  display: flex;
  gap: 16px;
}

.form-fields {
  flex-grow: 1;
}

.input-field {
  margin-bottom: 16px;
}

.printer-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.paper-options, .printer-options, .color-options {
  display: flex;
  gap: 80px;
  margin-bottom: 16px;
  white-space: nowrap;
}


input[type="checkbox"] {
  margin-right: 4px;
}

.switch-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
  
}

.slider {
  position: relative;
  width: 28px;
  height: 16px;
  background-color: #ccc;
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(12px);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.cancel-button {
  background-color: #f0f0f0;
  color: #333;
}

.save-button {
  background-color: #3e63dd;
  color: #fff;
}

.cancel-button:hover {
  background-color: #e0e0e0;
}

.save-button:hover {
  background-color: #303f9f;
}
